_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
map_prototype.ipynb
assets/img/presentation_map_old.svg
assets/img/presentation_map_robinson.png
